<div class="container">
    <h1>List of Users</h1><hr><br><br><br>
    
       <table class="table table-secondary table-striped table-hover table-bordered my-2 align-middle">
        <thead>
          <tr class="table-primary">
             <th>First name</th>
             <th>Last name</th>
             <th>Company</th>
             <th>Position in the company</th>
             <th>Email</th>
             <th>Role</th>
             <th>Delete</th>
             
             
           </tr>
        </thead>

        <tbody>
 
           <tr class="table-primary"  *ngFor="let user of users">
             <td>{{user.userFirstName}}</td>
             <td>{{user.userLastName}}</td>
             <td>{{user.company}}</td>
             <td>{{user.jobposition }}</td>
             <td>{{user.userEmail }}</td>
             <td>
              <button mat-icon-button color="secondary" (click)="editUserole(user.userEmail)">
                <mat-icon>edit</mat-icon>
              </button>
               </td>
             <td>
              <button mat-icon-button color="warn" (click)="deleteUser(user.userEmail)">
                <mat-icon>delete </mat-icon>
              </button>
             </td>
            
            
           </tr>
        </tbody>
         </table>
       </div>