<div class="container mt-1"  >
    <div class="p-1" style="width: 70%; margin-left: 18%; height: 60%;" >
      <div class="row" >
        <div class="col">
          <h1 style="text-align: center;">Add new event</h1>
          <form #eventForm="ngForm" (ngSubmit)="addEvent(eventForm)">
           
           

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Event Name</mat-label>
              <input
              type="text"
              [(ngModel)]="event.eventName"
              matInput
              name="eventName"
              id="eventName"
              placeholder="eventName"
              
              #Event="ngModel"
      required maxlength="25" minlength="3"
      
    />
    <div *ngIf="Event.invalid && (Event.dirty || Event.touched)"
                class="alert">

            <div style="color: red;" *ngIf="Event.errors?.['required']">
              Event's name is required.
            </div>
            <div style="color: red;" *ngIf="Event.errors?.['minlength']">
              Should be at least 3 characters long.
            </div>  
            
            </div>
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-hint>Event Name</mat-hint> 
            </mat-form-field>
           
            

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Purpose</mat-label>
              <input
              type="text"
              [(ngModel)]="event.purpose"
              matInput
              name="purpose"
              id="purpose"
              placeholder="purpose"
              
              #purpose="ngModel"
      required maxlength="200" minlength="10"
      
    />
    <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)"
                class="alert">

            <div style="color: red;" *ngIf="purpose.errors?.['required']">
              purpose is required.
            </div>
            <div style="color: red;" *ngIf="purpose.errors?.['minlength']">
              Should be at least 10 characters long.
            </div>  
            
            </div>
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-hint>purpose</mat-hint> 
            </mat-form-field>
            
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Event Date</mat-label>
              <input
              type="date"
              [(ngModel)]="event.eventDate"
              matInput
              name="eventDate"
              id="eventDate"
              placeholder="event date"
              
              [min]="today"  [max]="lday" required #eventDate="ngModel"
            />
            <div *ngIf="eventDate.invalid && (eventDate.dirty || eventDate.touched)"
            class="alert">

                <div style="color: red;" *ngIf="eventDate.errors?.['required']">
                  Event Date is required.
                </div>
                <div style="color: red;" *ngIf="eventDate.errors?.max">
                  Can't schedule after one month
                </div>
                <div style="color: red;" *ngIf="eventDate.errors?.min">
                  Schedule start today
                </div>

                
            </div> 
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-hint>Event Date</mat-hint> 
            </mat-form-field>
            

            
            

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Slot</mat-label>
            <input
            type="time"
            [(ngModel)]="event.slot"
            matInput
            name="slot"
            id="slot"
            placeholder="slot"
            
            required #slot="ngModel"
          />
          <div *ngIf="slot.invalid && (slot.dirty || slot.touched)"
          class="alert">

              <div style="color: red;" *ngIf="slot.errors?.['required']">
                  Slot is required.
              </div>
             
          </div> 
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>slot</mat-hint> 
          </mat-form-field>

         

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>City</mat-label>
           <input
          type="text"
          [(ngModel)]="event.city"
          name="city"
          matInput
          id="city"
          placeholder=" city"
          
          #city="ngModel"
      required maxlength="25" minlength="3"
      
    />
    <div *ngIf="city.invalid && (city.dirty || city.touched)"
                class="alert">

            <div style="color: red;" *ngIf="city.errors?.['required']">
              City's name is required.
            </div>
            <div style="color: red;" *ngIf="city.errors?.['minlength']">
              Should be at least 3 characters long.
            </div>  
            
            </div>
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>city</mat-hint> 
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>State</mat-label>
          <input
        type="text"
        [(ngModel)]="event.state"
        name="state"
        id="state"
        matInput
        placeholder="state"
        
        #state="ngModel"
      required maxlength="25" minlength="3"
      
    />
    <div *ngIf="state.invalid && (state.dirty || state.touched)"
                class="alert">

            <div style="color: red;" *ngIf="state.errors?.['required']">
              State's name is required.
            </div>
            <div style="color: red;" *ngIf="state.errors?.['minlength']">
              Should be at least 3 characters long.
            </div>  
            
            </div>
          
          <mat-hint>state</mat-hint> 
        </mat-form-field>
       

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Country</mat-label>
        <input
      type="text"
      [(ngModel)]="event.country"
      name="country"
      id="country"
      matInput
      placeholder="country"
      
      #country="ngModel"
      required maxlength="25" minlength="3"
      
    />
    <div *ngIf="country.invalid && (country.dirty || country.touched)"
                class="alert">

            <div style="color: red;" *ngIf="country.errors?.['required']">
              Country's name is required.
            </div>
            <div style="color: red;" *ngIf="country.errors?.['minlength']">
              Should be at least 3 characters long.
            </div>  
            
            </div>
        <mat-hint>country</mat-hint> 
      </mat-form-field>
      
      
  
            <input
            [disabled]="country.invalid || city.invalid || state.invalid || slot.invalid || eventDate.invalid || purpose.invalid || Event.invalid"
            type="submit"
            value="Submit"
            class="btn btn-outline-primary form-control rounded-0"
             />
            
          </form>
        </div>
       
        <!-- <form #fileForm="ngForm" (ngSubmit)="addFile(fileForm)">
           <input type="file" multiple  #selectfile value="select" (change)="onFileSelected($event)" >
           <input
            type="submit"
           value="add file"
           class="btn btn-outline-primary form-control rounded-0"
            />
        </form> -->
    </div>
  
  
    <!-- <p>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint> 
      </mat-form-field>
    </p> -->