<div class="container mt-1" style="margin-top: 100px;">
    <div class=" p-1">
      <h1 style="text-align: center;"> Schedule meeting</h1>
      <div class="row">
        <div class="col">
          <form #meetingForm="ngForm" (ngSubmit)="addMeeting(meetingForm)">

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Title</mat-label>
            
          <input
          type="text"
          [(ngModel)]="meeting.title"
          name="title"
          id="title"
          matInput
          placeholder="title"
          
          #title="ngModel"
              required maxlength="25" minlength="3"
              
            />
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                        class="alert">
        
                    <div style="color: red;" *ngIf="title.errors?.['required']">
                      Meeting's title is required.
                    </div>
                    <div style="color: red;" *ngIf="title.errors?.['minlength']">
                      Should be at least 3 characters long.
                    </div>  
                    
                    </div>
              <mat-hint>title</mat-hint> 
            </mat-form-field>
            
           
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Description</mat-label>
              <input
              type="text"
              [(ngModel)]="meeting.description"
              name="description" 
              matInput
              id="description"
              placeholder="description"
             
              #description="ngModel"
              required maxlength="200" minlength="10"
              
            />
            <div *ngIf="description.invalid && (description.dirty || description.touched)"
                        class="alert">
        
                    <div style="color: red;" *ngIf="description.errors?.['required']">
                      Meeting's description is required.
                    </div>
                    <div style="color: red;" *ngIf="description.errors?.['minlength']">
                      Should be at least 10 characters long.
                    </div>  
                    
                    </div>
         
              <mat-hint>description</mat-hint> 
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Meeting day</mat-label>
              <input 
              type="date"
              [(ngModel)]="meeting.meetingDay"
              name="meetingDay"
              id="meetingDay"
              matInput
              placeholder="The meeting day"
             
              [min]="today"  [max]="lday" required #meetingDay="ngModel"
              />
              <div *ngIf="meetingDay.invalid && (meetingDay.dirty || meetingDay.touched)"
              class="alert">
  
                  <div style="color: red;" *ngIf="meetingDay.errors?.['required']">
                    Meeting Date is required.
                  </div>
                  <div style="color: red;" *ngIf="meetingDay.errors?.max">
                    Can't schedule after one month
                  </div>
                 
  
                  
              </div> 
         
              <mat-hint>meeting day</mat-hint> 
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Start Time</mat-label>
            
              <input
              type="time"
              [(ngModel)]="meeting.startTime"
              name="startTime"
              id="startTime"
              matInput
              placeholder="startTime"
              
              required #startTime="ngModel"
              />
              <div *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)"
              class="alert">
    
                  <div style="color: red;" *ngIf="startTime.errors?.['required']">
                    Start Time is required.
                  </div>
                 
              </div> 
              <mat-hint>startTime</mat-hint> 
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>End Time</mat-label>
                    <input
              type="time"
              [(ngModel)]="meeting.endTime"
              name="endTime"
              id="endTime"
              matInput
              placeholder="endTime"
             
              required #endTime="ngModel"
              />
              <div *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)"
              class="alert">
    
                  <div style="color: red;" *ngIf="endTime.errors?.['required']">
                      End time required.
                  </div>
                 
              </div> 
         
              <mat-hint>endTime</mat-hint> 
            </mat-form-field>

           
           
         
       
        
      
           
  
            <input
            [disabled]="title.invalid || description.invalid || startTime.invalid || endTime.invalid || meetingDay.invalid "
            type="submit"
            value="Schedule meeting"
            class="btn btn-outline-primary form-control rounded-0"
             />
            
          </form>
        </div>
       
    </div>
  
  

