<div class="container mt-5" style="margin-top: 100px; " >
    <div class="card  p-5" style=" background-color: transparent;">
      <div class="row">
        <div class="col">
          <form #signupForm="ngForm" (ngSubmit)="updateUser()">
            <input
              type="text"
              [(ngModel)]="user.userFirstName"
              name="userFirstName"
              id="userFirstName"
              placeholder="user FirstName"
              class="form-control mb-3"
              #fname="ngModel"
              required maxlength="25" minlength="3"
             
            />
            <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
                class="alert">

            <div style="color: red;" *ngIf="fname.errors?.['required']">
                First Name is required.
            </div>
            <div style="color: red;" *ngIf="fname.errors?.['minlength']">
              First Name must be at least 3 characters long.
            </div>  
            
            </div>
   
            <input
              type="text"
              [(ngModel)]="user.userLastName"
              name="userLastName"
              id="userLastName"
              placeholder="user LastName"
              class="form-control mb-3"
              #lname="ngModel"
              required maxlength="15" minlength="3"
              
            />
            <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
                  class="alert">
  
              <div style="color: red;" *ngIf="lname.errors?.['required']">
                  Last Name is required.
              </div>
              <div style="color: red;" *ngIf="lname.errors?.['minlength']">
                Last Name must be at least 3 characters long.
              </div>  
              
              </div>
  
            <input
              type="text"
              [(ngModel)]="user.jobposition"
              name="jobposition"
              id="jobposition"
              placeholder="Position in the company"
              class="form-control mb-3"
              #jobposition="ngModel"
              required maxlength="25" minlength="3"
          />
          <div *ngIf="jobposition.invalid && (jobposition.dirty || jobposition.touched)"
                class="alert">
  
            <div style="color: red;" *ngIf="jobposition.errors?.['required']">
                Your job position is required.
            </div>
            <div style="color: red;" *ngIf="jobposition.errors?.['minlength']">
              Should be at least 3 characters long.
            </div>  
            
            </div>

            <input
            type="text"
            [(ngModel)]="user.company"
            name="company"
            id="company"
            placeholder="company"
            class="form-control mb-3"
            #company="ngModel"
            required maxlength="25" minlength="3"
            
          />
          <div *ngIf="company.invalid && (company.dirty || company.touched)"
                      class="alert">
      
                  <div style="color: red;" *ngIf="company.errors?.['required']">
                      Company's name is required.
                  </div>
                  <div style="color: red;" *ngIf="company.errors?.['minlength']">
                    Should be at least 3 characters long.
                  </div>  
                  
                  </div>
  
            <!-- <input
              type="text"
              [(ngModel)]="user.userPassword"
              name="userPassword"
              id="userPassword"
              placeholder="user Password"
              class="form-control mb-3"
            /> -->
  
            <input
            [disabled]=" fname.invalid || lname.invalid || company.invalid || jobposition.invalid "
            type="submit"
            value="Edit profile"
            class="btn btn-outline-secondary form-control rounded-0"
             />
            
          </form>
        </div>
       
    </div>
  
  
